/**
 * Project specific styling.
 */
.hero {
  max-width: 800px;
  margin: 0 auto;

  .heroTopper {
    width: 740px;
    display:flex;
    margin: 0 auto 3em;

    .heroText {
      width: 290px;
      margin: 0 auto 10px auto;
      @include font-styles("whitman-display");
      font-size: 1.4em;
    }

    .left {
      justify-content: flex-start;
      position: relative;

      .heroTextBox {
        width: 140px;
      }
    }

    .right {
      justify-content: flex-end;
      position: relative;
    }

    .ppmText {
      position: absolute;
      top: 100px;
      right: 75px;
      font-size: .65em;
      text-align: left;

    }

    .heroTextBox {
      position: absolute;
      width: 130px;
      bottom: 80px;
      right: 0;
      font-size: .65em;
      text-align: left;
    }

    .mapTextBox1 {
      position: absolute;
      left: 80px;
      line-height: 110%;
      bottom: 100px;
      color: #FFFFFF;
      font-size: .9em;
    }
  }

  .lead {
    max-width: 700px;
  }
}

.container-copy {
  max-width: 550px;
}

// CURRENT BIOME & UPPER KEY
.currentBiome {
  float: right;
  display: block;
  margin: 0 -10em 2em 3em;

  .key {
    float: none;
    margin-top: 0.5em;
    display: block;
    width: 300px;

    .keyElement {
      display: block;

      .box {
        width: 2em;
        height: 0.75em;
        height: 0.75em;
      }
    }

    div {
      margin-right: 0.5em;
    }
  }
}

// LOWER KEY
.key {
  float: right;

  div {
    display: inline-block;
    margin-right: 0.5em;
  }

  @include font-styles("benton-sans");
  font-size: 0.65em;

  .box {
    width: 1em;
    height: 0.75em;
    display: inline-block;
    margin-right: 0.5em;
    line-height: 1;
  }

  .prairie .box {
    // background-color: #9d5d00;
    background-color: #b34d33;
  }

  .prairieMix .box {
    // background-color: #cdc800;
    background-color: #f2e6b3;
  }

  .broadleaf .box {
    // background-color: #5ebe47;
    background-color: #a3d994;
  }

  .forestMix .box {
    // background-color: #269e3b;
    background-color: #66bf4d;
  }

  .boreal .box {
    // background-color: #0f8242;
    background-color: #007300;
  }
}

// SCENARIO TABLE
h3 {
  @include font-styles("benton-sans");
  font-weight: bold;
  font-size: 1.5em;
  margin: 3.5em 0 0 0;
}

table.scenarioTable {
  margin-top: 50px;
  @include font-styles("benton-sans");
  font-size: 0.9em;
  letter-spacing: -0.5;

  td {
    border: none;
    padding: 0;
  }

  td.head {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
  }

  td.scenario {
    padding-top: 0;
    width: 180px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.333s;

    &.top-padding {
      padding-top: 1em;
    }

    .circle {
      display: inline;
      float: left;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      padding: 7px;
      background: #ccc;
      border: none;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin: 0 10px 40px 0;
      transition: background-color 0.333s;
    }
  }

  .active td.scenario {
    color: #444;

    .circle {
      background: red;
    }
  }

  td.chart {
    img {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .model-set {
    width: 110px;
    height: 102px;
    margin: 10px 0 0 10px;
    opacity: 0.2;
    transition: opacity 0.333s;

    img {
      cursor: pointer;
    }

    &.active img {
      outline: 2px solid red;
    }
  }

  .active .model-set {
    opacity: 1;
  }
}
