<figure class="map-figure">
  <div class="map" ref:map>
    <noscript>
      <p>This map requires Javascript which your browser does not support or the feature is turned off.</p>
    </noscript>
  </div>
</figure>

<script>
  /* global mapboxgl */

  export default {
    oncreate() {
      this.drawMap();
    },

    onupdate({ changed, current, previous }) {
      if (changed.tileSource && previous && previous.tileSource) {
        this.mapBiome();
      }
      if (changed.infoBox || changed.infoTitle) {
        this.infoBox();
      }
    },

    ondestroy() {
      if (this.get().map) {
        this.get().map.remove();
      }
    },

    methods: {
      drawMap() {
        mapboxgl.accessToken = this.get().accessToken;

        // Create map
        this.__map = new mapboxgl.Map({
          container: this.refs.map,
          style: this.get().mapStyle,
          attributionControl: false,
          scrollZoom: true,
          minZoom: 4,
          maxZoom: 8,
          center: this.get().twinCitiesCenter,
          zoom: 5,
          maxBounds: this.get().biomeExtent
        });

        // Add controls
        this.__map.addControl(new mapboxgl.NavigationControl());

        // Allow scroll zoom on full screen
        let fullscreenControl = new mapboxgl.FullscreenControl();
        this.__map.addControl(fullscreenControl);
        // window.document.addEventListener(
        //   fullscreenControl._fullscreenchange,
        //   () => {
        //     if (fullscreenControl._fullscreen) {
        //       this.__map.scrollZoom.enable();
        //     } else {
        //       this.__map.scrollZoom.disable();
        //     }
        //   }
        // );

        // Focus on Minnesota
        this.__map.fitBounds(this.get().minnesotaExtent, { padding: 10 });

        // When styles loaded
        this.__map.on("load", () => {
          // Add biome tiles
          this.mapBiome();

          // Update infobox
          this.infoBox();

          // Update some styles
          let layers = this.__map.getStyle().layers;

          // Change boundary styles
          this.__map.setPaintProperty("admin-2-boundaries", "line-width", 5);
          this.__map.setPaintProperty("admin-2-boundaries-bg", "line-width", 7);
          this.__map.setPaintProperty("admin-3-4-boundaries", "line-width", 4);
          this.__map.setPaintProperty("admin-3-4-boundaries-bg", "line-width", 6);

          // Change label colors
          for (let i = 0; i < layers.length; i++) {
            if (layers[i].type === "symbol") {
              this.__map.setPaintProperty(
                layers[i].id,
                "text-halo-color",
                "#585858"
              );
              this.__map.setPaintProperty(layers[i].id, "text-color", "#FFFFFF");
            }
          }
        });
      },

      mapBiome() {
        let biome = this.get().tileSource;

        if (!this.get().mapTileSource) {
          // Source
          let source = this.__map.addSource("biome-source", {
            type: "raster",
            url: `mapbox://${biome}`,
            tileSize: 256
          });

          // Layer
          this.__map.addLayer(
            {
              id: "biome-layer",
              type: "raster",
              source: "biome-source"
            },
            "waterway-river-canal"
          );

          this.set({ mapTileSource: source });
        } else {
          let s = this.__map.getSource("biome-source");
          s._options.url = `mapbox://${biome}`;
          s.load();
        }
      },

      // Update info box
      infoBox() {
        let controlEl = document.body.querySelector(".map-info-box");
        let mapboxControlTopRight = this.refs.map.querySelector(
          ".mapboxgl-ctrl-top-right"
        );

        // Check for map rendered
        if (!mapboxControlTopRight) {
          return;
        }

        // Check for control
        if (!controlEl) {
          let mapboxControlTopRight = this.refs.map.querySelector(
            ".mapboxgl-ctrl-top-right"
          );
          controlEl = document.createElement("div");
          controlEl.className +=
            " mapboxgl-ctrl mapboxgl-ctrl-group map-info-box";
          mapboxControlTopRight.appendChild(controlEl);
        }

        if (this.get().infoBox) {
          controlEl.classList.add("map-info-box-content");
          controlEl.innerHTML = `
                  <div class="mapboxgl-ctrl-icon">
                   <p class="boxTitle">${this.get().infoTitle}</p>
                   <p>${this.get().infoBox}</p>
                  </div>
                `;
        } else {
          controlEl.classList.remove("map-info-box-content");
          controlEl.innerHTML = "";
        }
      }
    },

    data() {
      return {
        accessToken:
          "pk.eyJ1Ijoic2hhZG93ZmxhcmUiLCJhIjoiS3pwY1JTMCJ9.pTSXx_LFgR3XBpCNNxWPKA",
        mapStyle: "mapbox://styles/mapbox/light-v9",
        twinCitiesCenter: [-93.191872, 44.960911],
        biomeExtent: [[-97.95847255, 41.624860584], [-81.26680595, 49.683193885]],
        minnesotaExtent: [[-97.239209, 43.499356], [-89.491739, 49.384358]]
      };
    }
  };
</script>
